<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>《火王：破晓之战》手游预约站-官方正版授权-2018年度人气幻想新国风手游</title>
    <meta name="keywords" content="火王 破晓之战 手游 MMORPG 正版授权 年度人气幻想 新国风手游 时空万变 唯爱不爱 年度人气手游" />
    <meta name="description" content="《火王：破晓之战》是一款有点特别的国风幻想游戏，在这里，我们拒绝千篇一律的写实仙侠美术风格，也不愿做简单的Q版换皮产品。传统的仙侠游戏在美术上，有着明显锯齿的人物建模和粗糙的场景设计，大大影响了游戏的整体美术品质，我们力求在《火王：破晓之战》中打造一个全新的幻想国风风格，古典审美已成为新的流行趋势，整体游戏界面以玉的效果为主体，抽象化的云月设计，希望在说明功能的同时给玩家以整体美感的享受，增加游戏整体的代入感。传统的玄幻游戏人物在剧情引导上，旁白平淡，玩家完全无法代入其中，大部分只会略过内容只求快进。当我们拿到火王的正版授权时，我们就知道，这是一个机会，我们策划使用解谜式的方式引导玩家去解开层层剧情，与NPC的全新互动也为了与一般的游戏有所区别。恐怕写再多也无法述说我们团队为此游戏花费的日与夜，好的作品总是在不断的争吵、无尽的打磨中产生，每一次的调整我们都抱着一点点期许，目前游戏的研发已经接近尾声，很快我们就会放出测试版，届时会邀请各位喜欢国风的玩家和《火王》漫画、电视剧的粉丝来测试和指正，为我们提点意见，或者跟我们聊聊，你的《火玩》世界。我们不怕批评的声音,有则改进,无则加勉。如果这款产品是龙，则徘徊于天；是凤，则翱翔于际。28岁的火王，将在烈火中重生。">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="./css/publicCss.css">
    <link rel="stylesheet" href="./css/index.css?random=<%= Math.random()*10000 %>">
</head>
<body>
    <!--[if lt IE 7]>
        <div style="position:absoulute;left:0;top:0;width:100%;height:50px;background:rgb(255,255,233);color:rgb(30,84,148);border-bottom:1px solid rgb(230,230,198);text-align:center;line-height:50px;font-size:12px;">您使用的浏览器版本过低，可能会影响到您浏览本网页，建议您升级您的浏览器。</div>
    <![endif]-->
    <header class="clearfix">
        <div class="logo fl"></div>
        <!-- <div class="loginCont fr">
            <span class="loginBtn">登录</span>
            <span>|</span>
            <span class="registeredBtn">注册</span>
            <span>|</span>
            <span class="tableBtn">芒果游戏目录</span>
        </div> -->
    </header>
    <section class="main">
        <div class="ad1">
            <div class="cloud1"></div>
            <div class="cloud2"></div>
            <div class="cloud3"></div>
            <div class="cloud4"></div>
            <div class="cloud5"></div>
            <div class="cloud6"></div>
            <div class="cloud7"></div>
            <div class="cloud8"></div>
            <div class="cloud9"></div>

            <div class="ad1Logo"></div>
            <div class="ad1Font"></div>
            <div class="ad1Video">
                <div class="ad1VideoImg"></div>
                <div class="ad1VideoIcon"></div>
            </div>
            <div class="ad1Erweima">
                <i></i>
                <img src="/images/ad1_erweima.png">
            </div>
            <div class="ad1YY">
                <div class="ad1YuyueBtn"></div>
                <div class="ad1YaoqingBtn"></div>
                <div class="ad1YuyueBtnNum">
                    <span class="ad1YuyueNumColor1">已有</span>
                    <span class="ad1YuyueNumColor2"></span>
                    <span class="ad1YuyueNumColor1">人预约</span>
                </div>
            </div>
        </div>
        <div class="videoTip"></div>
        <div class="ad2">
            <div class="ad2YuYueFuLi">
                <div class="ad2Prize">
                    <!-- <div class="ad2Btn1"></div>
                    <div class="ad2Btn2"></div>
                    <div class="ad2Btn3"></div>
                    <div class="ad2Btn4"></div>
                    <div class="ad2Btn5"></div>
                    <div class="ad2Btn6"></div> -->
                    <div class="ad2Btn2"></div>
                </div>
            </div>
            <div class="ad2Features">
                <ul class="accordion-container animation">
                    <li class="accordion-item item1 active">
                        <div class="s-img"></div>
                        <div class="b-img"></div>
                    </li>
                    <li class="accordion-item item2">
                        <div class="s-img"></div>
                        <div class="b-img"></div>
                    </li>
                    <li class="accordion-item item3">
                        <div class="s-img"></div>
                        <div class="b-img"></div>
                    </li>
                    <li class="accordion-item item4">
                        <div class="s-img"></div>
                        <div class="b-img"></div>
                    </li>
                    <li class="accordion-item item5">
                        <div class="s-img"></div>
                        <div class="b-img"></div>
                    </li>
                </ul>
            </div>

            <div class="ad2Contact">
                <div class="cloud1"></div>
                <div class="cloud2"></div>
                <div class="cloud3"></div>
                <div class="cloud4"></div>
                <div class="cloud5"></div>
                <div class="cloud6"></div>
                <div class="cloud7"></div>
                <div class="cloud8"></div>
                <div class="cloud9"></div>

                <div class="share">
                    <div class="shareWeixin"></div>
                    <div class="shareQQ"></div>
                    <div class="shareTieba"></div>
                    <div class="shareWeibo"><a href="http://weibo.com/hwpxzz"></a></div>
                </div>
            </div>
        
            <footer class="footer-block">
                <div class="footer-inner">
                    <a class="sponsor" href="" target="_blank">
                        <img src="/images/sponsor.png" alt="芒果互娱">
                    </a>
                    <a class="logo" href="" target="_blank">
                        <img src="/images/footer_logo.png" alt="芒果互娱">
                    </a>
                    <div class="footer-content">
                        <p class="links">
                            <a href="https://www.mangofun.cn/index.php/about/index/201/206" rel="nofollow" target="_blank">关于芒果</a>
                            <span>|</span>
                            <a href="https://www.mangofun.cn/index.php/game/index/202/257" rel="nofollow" target="_blank">游戏中心</a>
                            <span>|</span>
                            <a href="" target="_blank">游戏客服</a>
                            <span>|</span>
                            <a href="https://www.mangofun.cn/index.php/about/index/204/221" target="_blank">商务合作</a>
                            <span>|</span>
                            <a href="https://www.mangofun.cn/index.php/join/index/205/230/38" target="_blank">加入芒果</a>
                        </p>
                        <p class="copyright">
                            增值电信业务经营许可证：沪 B2-20150160<br>
                            网络文化经营许可证 ：沪网文 [2015]0051-001<br>
                            <span class="mobile-p">
                                Copyright © 2014-2016
                                <a href="" target="_blank">上海芒果互娱科技有限公司沪</a>
                                ICP 备14030342号
                            </span>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </section>
    <div class="yanqingTan">
        <div class="yanqingTanClose"></div>
    </div>

    <!-- 预约弹层 -->
    <section class="moduleTan">
        <div class="moduleTanContent">
            <ul class="selePhone clearfix">
                <li class="active" data-phonetype="1">IOS</li>
                <li data-phonetype="2">安卓</li>
            </ul>
            <input class="phone" type="text" placeholder="请输入手机号码" maxlength="11">
            <div class="clearfix verification">
                <input class="code fl" type="text" placeholder="请输入验证码" maxlength="6">
                <div class="verificationCode fr">获取验证码</div>
            </div>
            <div class="sumbitBtn"></div>
        </div>
        <div class="closeBtn"></div>
    </section>

    <section class="moduleTanSecc">
        <div class="closeBtn2"></div>
        <div class="jihuoma"></div>
    </section>

    <!-- 视频弹层 -->
    <section id="videoContainer" class="video-container" controls="controls">
        <div id="videoBox" class="video-box"></div>
        <div id="videoCloseBtn" class="video-close-btn" title="关闭"></div>
    </section>

    <!-- 锚点 -->
    <section class="ad3">
        <div class="ad3Round1 active"></div>
        <div class="ad3Line"></div>
        <div class="ad3Round2"></div>
        <div class="ad3Line"></div>
        <div class="ad3Round3"></div>
    </section>
    <section class="newsAdvisory clearfix">
        <!-- <div class="newsIcon"></div> -->
        <ul class="leftList fl">
            <li class="item1"></li>
        </ul>
        <div class="rightBox fl">
            <div id="slideshow1">
                <div class="hd">
                    <ul class="clearfix">
                    </ul>
                </div>
                <div class="bd">
                    <ul>
                        <li><img src="http://7xs09w.com1.z0.glb.clouddn.com/g1_m_ad3_img5_3.jpg" alt=""></li>
                        <li><img src="http://7xs09w.com1.z0.glb.clouddn.com/g1_m_ad3_img4.png" alt=""></li>
                        <li><img src="http://7xs09w.com1.z0.glb.clouddn.com/g1_m_ad3_img3.png" alt=""></li>
                        <li><img src="http://7xs09w.com1.z0.glb.clouddn.com/g1_m_ad3_img2.png" alt=""></li>
                        <li><img src="http://7xs09w.com1.z0.glb.clouddn.com/g1_m_ad3_img1.png" alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="newsInfo">
                <ul class="listTitle">
                    <li typeAttr='all' class="">最新</li>
                    <li typeAttr='1'>新闻</li>
                    <li typeAttr='2'>公告</li>
                    <li typeAttr='3'>活动</li>
                    <li typeAttr='more'><a href="/news">MORE</a></li>
                </ul>
                <ul class="infoUl">
                    <!-- <li><a href=""><span class="fl name">【活动】火王-参与预约领取豪礼</span><span class="fr dataTime">05/12</span></a></li> -->
                    <!-- <li><a href=""><span class="fl name">【活动】火王-参与预约领取豪礼</span><span class="fr dataTime">05/12</span></a></li>
                    <li><a href=""><span class="fl name">【活动】火王-参与预约领取豪礼</span><span class="fr dataTime">05/12</span></a></li>
                    <li><a href=""><span class="fl name">【活动】火王-参与预约领取豪礼</span><span class="fr dataTime">05/12</span></a></li>
                    <li><a href=""><span class="fl name">【活动】火王-参与预约领取豪礼</span><span class="fr dataTime">05/12</span></a></li>
                    <li><a href=""><span class="fl name">【活动】火王-参与预约领取豪礼</span><span class="fr dataTime">05/12</span></a></li>
                    <li><a href=""><span class="fl name">【活动】火王-参与预约领取豪礼</span><span class="fr dataTime">05/12</span></a></li> -->
                </ul>
            </div>
        </div>
    </section>
    <script src="./js/html5.js"></script>
    <script src="./js/jquery-1.7.2.min.js"></script>
    <script src="./js/public.js"></script>
    <script src="./js/touchslider.js"></script>

    <script src="./js/index.js?random=<%= Math.random()*10000 %>"></script>
</body>
</html>