<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>《火王：破晓之战》手游预约站-官方正版授权-2018年度人气幻想新国风手游</title>
    <meta name="keywords" content="火王 破晓之战 手游 MMORPG 正版授权 年度人气幻想 新国风手游 时空万变 唯爱不爱 年度人气手游" />
    <meta name="description" content="《火王：破晓之战》是一款有点特别的国风幻想游戏，在这里，我们拒绝千篇一律的写实仙侠美术风格，也不愿做简单的Q版换皮产品。传统的仙侠游戏在美术上，有着明显锯齿的人物建模和粗糙的场景设计，大大影响了游戏的整体美术品质，我们力求在《火王：破晓之战》中打造一个全新的幻想国风风格，古典审美已成为新的流行趋势，整体游戏界面以玉的效果为主体，抽象化的云月设计，希望在说明功能的同时给玩家以整体美感的享受，增加游戏整体的代入感。传统的玄幻游戏人物在剧情引导上，旁白平淡，玩家完全无法代入其中，大部分只会略过内容只求快进。当我们拿到火王的正版授权时，我们就知道，这是一个机会，我们策划使用解谜式的方式引导玩家去解开层层剧情，与NPC的全新互动也为了与一般的游戏有所区别。恐怕写再多也无法述说我们团队为此游戏花费的日与夜，好的作品总是在不断的争吵、无尽的打磨中产生，每一次的调整我们都抱着一点点期许，目前游戏的研发已经接近尾声，很快我们就会放出测试版，届时会邀请各位喜欢国风的玩家和《火王》漫画、电视剧的粉丝来测试和指正，为我们提点意见，或者跟我们聊聊，你的《火玩》世界。我们不怕批评的声音,有则改进,无则加勉。如果这款产品是龙，则徘徊于天；是凤，则翱翔于际。28岁的火王，将在烈火中重生。">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/publicCss.css">
    <link rel="stylesheet" href="/css/list.css?random=<%= Math.random()*10000 %>">
</head>
<body>
    <!--[if lt IE 7]>
        <div style="position:absoulute;left:0;top:0;width:100%;height:50px;background:rgb(255,255,233);color:rgb(30,84,148);border-bottom:1px solid rgb(230,230,198);text-align:center;line-height:50px;font-size:12px;">您使用的浏览器版本过低，可能会影响到您浏览本网页，建议您升级您的浏览器。</div>
    <![endif]-->
    <header class="clearfix">
        <div class="logo fl"></div>
    </header>
    <section class="main">
        <div class="content clearfix">
            <div class="logo"></div>
            <div class="leftBox fl">
                <div class="attention">
                    <div class="erweima"></div>
                    <div class="yuyue">
                        <div class="ad1YuyueBtn"></div>
                        <div class="ad1YaoqingBtn"></div>
                    </div>
                </div>
                <div class="attention2">
                     <div class="title">
                        <div class="QQ on"></div>
                        <div class="weibo"></div>
                        <div class="text">关注公众号精彩提前知</div>
                     </div>
                     <div class="attention2Erweima">
                         <div class="attention2ErweimaQQ on"></div>
                         <div class="attention2ErweimaWeibo"></div>
                     </div>
                </div>
            </div>
            <div class="rightBox fr">
                <div class="title">
                    <h3 class="fl">新闻资讯 / news</h3>
                    <div class="fr bread"><a href="">官网首页</a> > <a  class="on" href="">最新</a></div>
                </div>
                <ul class="titleList clearfix">
                    <li class="fl on" typeAttr='all'>最新</li>
                    <li class="fl" typeAttr='1'>新闻</li>
                    <li class="fl" typeAttr='2'>公告</li>
                    <li class="fl" typeAttr='3'>活动</li>
                </ul>
                <ul class="itemList">
                </ul>
                <div id="PagesBar" class="pages_wr clearfix">
                    <div id="pages" class="page clearfix">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-block">
        <div class="footer-inner">
            <a class="logo" href="" target="_blank">
                <img src="/images/footer_logo.png" alt="芒果互娱">
            </a>
            <div class="footer-content">
                <p class="links">
                    <a href="https://www.mangofun.cn/index.php/about/index/201/206" rel="nofollow" target="_blank">关于芒果</a>
                    <span>|</span>
                    <a href="https://www.mangofun.cn/index.php/game/index/202/257" rel="nofollow" target="_blank">游戏中心</a>
                    <span>|</span>
                    <a href="" target="_blank">游戏客服</a>
                    <span>|</span>
                    <a href="https://www.mangofun.cn/index.php/about/index/204/221" target="_blank">商务合作</a>
                    <span>|</span>
                    <a href="https://www.mangofun.cn/index.php/join/index/205/230/38" target="_blank">加入芒果</a>
                </p>
                <p class="copyright">
                    增值电信业务经营许可证：沪 B2-20150160<br>
                    网络文化经营许可证 ：沪网文 [2015]0051-001<br>
                    <span class="mobile-p">
                        Copyright © 2014-2016
                        <a href="" target="_blank">上海芒果互娱科技有限公司沪</a>
                        ICP 备14030342号
                    </span>
                </p>
            </div>
        </div>
    </footer>

    <!-- 邀请弹层 -->
    <div class="yanqingTan">
        <div class="yanqingTanClose"></div>
    </div>

    <!-- 预约弹层 -->
    <section class="moduleTan">
        <div class="moduleTanContent">
            <ul class="selePhone clearfix">
                <li class="active" data-phonetype="1">IOS</li>
                <li data-phonetype="2">安卓</li>
            </ul>
            <input class="phone" type="text" placeholder="请输入手机号码" maxlength="11">
            <div class="clearfix verification">
                <input class="code fl" type="text" placeholder="请输入验证码" maxlength="6">
                <div class="verificationCode fr">获取验证码</div>
            </div>
            <div class="sumbitBtn"></div>
        </div>
        <div class="closeBtn"></div>
    </section>
    <script src="./js/html5.js"></script>
    <script src="./js/jquery-1.7.2.min.js"></script>
    <script src="./js/public.js"></script>
    <script src="./js/touchslider.js"></script>

    <script src="./js/list.js?random=<%= Math.random()*10000 %>"></script>
</body>
</html>